<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>

</div>
<!--<li><a
  style="cursor: pointer;"
  (click)="onData()">Get Data</a></li>-->
<div class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">

        <div class="input-group mb-3">

            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input [(ngModel)]="searchText" class="form-control" placeholder="Search by repo name">
            </div>

        </div>


        <div *ngFor="let repo of repos  | filter : searchText"> <!-- going through the repositories and displaying + a filter to search by repo name-->
            <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                    <rect width="100%" height="100%" fill="#FF0000" /><text x="30%" y="50%" fill="#000001" dy=".4em">{{repo.open_issues_count}}</text>
                </svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark"><i class="fas fa-archive">{{repo.id}}</i> - {{repo.name}} </strong>
                    <i class="fas fa-star yellow"></i>{{repo.stargazers_count}}
                    <strong class="d-block text-gray-dark">by: {{repo.owner.login}}</strong>
                    {{repo.description}}
                </p>
            </div>
        </div>


    </div>
</div>