<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>

</div>
<!--<li><a
  style="cursor: pointer;"
  (click)="onData()">Get Data</a></li>-->
<div class="container" >
    <div class="my-3 p-3 bg-white rounded shadow-sm"
        infinite-scroll
      [infiniteScrollDistance]="2"
      (scrolled)="onScroll()">

        <div class="input-group mb-3">

            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input [(ngModel)]="searchText" class="form-control" placeholder="Search by repo name">
            </div>

        </div>


        <div *ngFor="let repo of repos_list  | filter : searchText"> <!-- going through the repositories and displaying + a filter to search by repo name-->
            <div class="media text-muted pt-3">
               <img src= {{repo.owner.avatar_url}} class="img-thumbnail" alt="avatar" style="height: 100px;
                   width: 100px; margin-right: 2em">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark"><i class="fas fa-archive"></i>{{repo.name}}</strong>
                    <p class="bg-light text-dark" style="margin-top: 1em">{{repo.description}}</p> 
                    <i class="fas fa-star yellow"></i>{{repo.stargazers_count}}  <span class="bg-danger text-white">issues: {{repo.open_issues_count}}</span>
                     <p>Submitted on {{ repo.created_at | date }} by: <span class="text-primary">{{repo.owner.login}}</span></p>
                   
                </div>
            </div>
        </div>


    </div>
</div>